<% @page_title = "Delete Section" %>

<div class="row">

  <div class="col">
  </div>

  <div class="col-8">
    <%= link_to("Back to Sections", sections_path, :class => 'back-link') %><br /><br />

      <h2>Delete Section</h2>

      <%= form_for(@section, :method => 'delete') do |f| %>

        <p>Are you sure you want to permanently delete this section?</p>

        <p>
          <div class="alert alert-danger" role="alert">
            <h4>Are you sure you want to permanently delete '<%= f.object.name %>'?</h4>
          </div>
        </p>

        <div class="form-buttons">
          <%= f.submit "Delete Section", class: "btn btn-danger"  %>
        </div>

      <% end %>
        </div>

  <div class="col">
  </div>
</div>
