<% @page_title = "New Page" %>

<div class="row">

  <div class="col">
  </div>

  <div class="col-8">

    <%= link_to("Back to Pages", pages_path, :class => 'back-link') %><br /><br />

    <h2>Create Page</h2>

        <%= form_for @page, class: "form-group" do |f| %>
          <%= render(:partial => 'form', :locals => {:f => f}) %>
          <%= f.submit "Create Page", class: "btn btn-primary" %>
        <% end %>
  </div>

  <div class="col">
  </div>
</div>
