<% @page_title = "Edit Subject" %>

<div class="row">

  <div class="col">
  </div>

  <div class="col-8">

    <%= link_to("Back to Subjects", subjects_path, :class => 'back-link') %><br /><br />

    <h2>Update Subject</h2>

        <%= form_for @subject, class: "form-group" do |f| %>
          <%= render(:partial => 'form', :locals => {:f => f}) %>
          <%= f.submit "Update Subject", class: "btn btn-primary" %>
        <% end %>
  </div>
  <div class="col">
  </div>
</div>