<div class="row">

  <div class="col">
  </div>

  <div class="col-6">

    <%= link_to("Back to List", subjects_path, :class => 'back-link') %><br /><br />

    <h2>Create Subject</h2>

        <%= form_for @subject, class: "form-group" do |f| %>
          <%= render(:partial => 'form', :locals => {:f => f}) %>
          <%= f.submit "Create Subject", class: "btn btn-primary" %>
        <% end %>
  </div>
  <div class="col">
  </div>
</div>